<template>
  <div>
    <p>У {{ notify.murr_card.owner_name }} новый мурр!</p>
    <p>
      Можно увидеть на
      <a href="" @click.prevent="$router.push('/')">главной</a> странице
    </p>
    <p>
      или на личной странице
      <a href="">{{ notify.murr_card.owner_name }}</a
      >!
    </p>
  </div>
</template>
<script>
import router from "../../router.js";
export default {
  name: "NotifyFeedItem",

  computed: {
    $router() {
      return router;
    },
  },
  props: {
    notify: {
      type: Object,
      required: true,
    },
  },
};
</script>
