.el-select-dropdown__list {
  padding: 0;
}
.el-select-dropdown {
  background-color: transparent;
  border: 1px dashed $accent-color-main;
  border-radius: 3px;
  margin: 0;
  box-shadow: none;
}

.el-popper[x-placement^="bottom"] .popper__arrow {
  border-bottom-color: transparent;
  top: -7px;
}
