@import "./../../assets/scss/variables";

body {
  background-color: $dark-active;
}

.main-layout {
  height: 100%;
  width: 100%;
}

.header {
  transition: .5s;
  height: 60px;
  background-color: $dark;
  display: flex;
  align-items: center;
  padding: 0.5em 1%;
  &-logo,
  &-profile {
    height: 100%;
    & a,
    img {
      display: block;
      height: 100%;
    }
  }
  &-profile {
    margin-left: auto !important;
    & img {
      border-radius: 3px;
    }
    & a {
      text-decoration: none;
    }
  }
}

.main-layout-content {
  padding: 0.8em 0;
  height: calc(100vh - 60px);
}

@media (min-width: 1200px) {
  .header {
    padding: 0.5em 5%;
  }
}
@media (min-width: 1600px) {
  .header {
    padding: 0.5em 10%;
  }
}
