@import "variables";
@import "mixins";
@import "fonts";
@import "base";
@import "m-from";

@import "../../components/murr_card/scss/index.scss";

.murr-button {
  background-color: $main;
}

.murr-button > i {
  color: white;
}

.murr-button > span {
  color: white;
}

.murr-button:hover {
  background-color: $main-hover;
}

.murr-button:active,
.murr-button:focus {
  background-color: $main-active;
}
