<template>
  <div>
    <div v-if="murrCards.length" class="m-cards">
      <masonry
        :cols="setMasonryCols ? setMasonryCols : masonryCols"
        :gutter="masonryGutter"
      >
        <template v-for="card in murrCards">
          <MurrCardItem
            :key="'murr' + card.id"
            :isMurrenAuthorized="isMurrenAuthorized"
            :card="card"
            :targetPage="targetPage"
          />
        </template>
      </masonry>
    </div>
    <observer
      @murrIntersect="handlerFetchNextCards"
      :key="'murr_observer' + murrCards.length"
    />

    <loader v-if="isLoading" />
  </div>
</template>

<script>
import { mapActions } from "vuex";
import Observer from "../common/Observer.vue";
import MurrCardItem from "./MurrCardListItem.vue";
import * as type from "./store/type.js";

export default {
  name: "MurrCardList",

  components: {
    Observer,
    MurrCardItem,
  },

  data: () => ({
    isHover: false,
    isLoading: true,

    page: 0,
    existsNextPage: false,
    masonryGutter: { default: "30px" },
  }),

  props: {
    targetPage: String,
    murrenId: Number,
    setMasonryCols: Object,
  },

  async mounted() {
    await this.fetchMurrCards();
  },

  beforeDestroy() {
    this.$store.commit(type.MURR_CARDS_CLEAR);
  },

  computed: {
    murrCards() {
      return this.$store.getters.murrList;
    },

    masonryCols() {
      return {
        default: this.murrCards.length > 4 ? 4 : this.murrCards.length,
        1450: this.murrCards.length > 3 ? 3 : this.murrCards.length,
        1100: this.murrCards.length > 2 ? 2 : this.murrCards.length,
        700: 1,
      };
    },

    isMurrenAuthorized() {
      return !!this.$store.getters.currentMurren;
    },
  },

  methods: {
    ...mapActions({
      notification: "popUpMessage",
      handlerSignInModal: "changeShowLoginForm_actions",
    }),

    async fetchMurrCards() {
      this.isLoading = true;
      this.page = this.page + 1;
      
      let dispatchData = { page: this.page, }
      let dispatchType = null;
      switch (this.targetPage) {
        case "subscriptions":
          dispatchType = type.MURR_CARD_MY_SUBSCRIPTIONS;
          break;
        case "myLikes":
          dispatchType = type.MURR_CARD_MY_LIKES;
          break;
        case "byUser":
          dispatchType = type.MURR_CARD_BY_USER;
          dispatchData.murrenID = this.murrenId;
          break;
        default:
          dispatchType = type.MURR_CARD_FETCH_LIST;
          break;
      }

      const { existsNextPage, success } = await this.$store.dispatch(
        dispatchType,
        dispatchData
      );

      if (success) {
        this.existsNextPage = existsNextPage;
      }

      this.isLoading = false;
    },

    handlerFetchNextCards() {
      if (!this.existsNextPage) return;

      this.fetchMurrCards();
    },
  },
};
</script>
