<template>
  <div>
    <loader v-if="!murr" />

    <div v-else class="home-main-container">
      <div class="murr-panel mb">
        <el-button
          class="more-btn murr-button"
          icon="el-icon-more-outline pointer"
          @click="() => (isPanelShow = !isPanelShow)"
        />

        <transition name="fade" mode="out-in">
          <div v-if="isPanelShow">
            <el-button
              class="murr-button__primary"
              icon="el-icon-share"
              @click="onCopyMurrLink"
            />

            <el-button
              v-if="isAuthorMurr"
              class="murr-button__danger"
              icon="el-icon-delete"
              @click="onDeleteMurr"
            />
          </div>
        </transition>
      </div>

      <h1 class="murr-header input-murr-header-area fs2 mb">
        {{ murr.title }}
      </h1>

      <div class="create-murr-area input-murr-header-area" v-if="murr.content">
        <div v-for="(el, i) in murr.content" :key="i">
          <h2
            v-if="el.type === 'header'"
            v-text="el.data.text"
            class="m-card__header"
          />

          <p
            v-if="el.type === 'paragraph'"
            v-text="el.data.text"
            class="m-card__paragraph"
          />

          <img
            v-if="el.type === 'image'"
            :src="el.data.file.url"
            :alt="murr.title"
            class="m-card__image-picture"
          />

          <p
            v-if="el.data.caption"
            v-text="el.data.caption"
            class="m-card__image-caption"
          />

          <pre
            v-if="el.type === 'code'"
            v-text="el.data.code"
            class="m-card__code"
          />
        </div>
      </div>

      <comments :comments-count="murr.comments_count" :murr-id="murr.id" />
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import Comments from "../murr_comment/Comments.vue";
import * as type from "./store/type.js";

import { copyToBuffer } from "../../utils/helpres.js";

export default {
  name: "MurrCardDetail",

  components: {
    Comments,
  },

  props: {
    context: Object,
  },

  data: () => ({
    murrID: null,
    isPanelShow: false,
  }),

  async created() {
    // Define the entry point
    // If it came through a modals, we take data through the context
    this.murrID = this.isModalLoad
      ? this.context.murrID
      : this.$route.params.id;

    const { success } = await this.$store.dispatch(type.MURR_CARD_FETCH_ONE, {
      murrID: this.murrID,
    });

    if (!success) {
      this.$router.push("/404");
    }
  },

  computed: {
    ...mapGetters(["murr"]),

    isAuthorMurr() {
      return this.murr?.owner === this.$store.getters.currentMurren?.id;
    },

    currentUrl() {
      return `${window.location.origin}/murr_card/${this.murrID}`;
    },

    isModalLoad() {
      return this.context !== undefined;
    },
  },

  methods: {
    ...mapActions({
      notification: "popUpMessage",
    }),

    onDeleteMurr() {
      this.$confirm("Точно удалить мурр?", "Внимание!", {
        confirmButtonText: "Да",
        confirmButtonClass: "murr-button__danger bigBtn",
        cancelButtonText: "Отмена",
        cancelButtonClass: "murr-button__primary bigBtn",
        customClass: "modal-main",
        type: "warning",
      }).then(this.handlerDeleteMurrCard);
    },

    async handlerDeleteMurrCard() {
      const murrID = this.murr.id;

      const { success, message } = await this.$store.dispatch(
        type.MURR_CARD_DELETE,
        {
          murrID,
        }
      );

      if (success) {
        this.notification({ message, type: "success" });

        if (this.isModalLoad) {
          // Clear murr cards
          this.$store.commit(type.MURR_CARDS_REMOVE, murrID);

          this.$store.commit("modal/close");
        } else {
          this.$router.push({ name: "home" });
        }
      } else {
        this.notification({ message, type: "warning" });
      }
    },

    onCopyMurrLink() {
      copyToBuffer(this.currentUrl);

      this.isPanelShow = false;

      this.notification({
        message: `Линка на мурр скопирована 😊`,
        type: "success",
      });
    },
  },

  beforeDestroy() {
    this.$store.commit(type.MURR_CARD_CLEAR);
  },
};
</script>

<style scoped lang="scss">
@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.more-btn {
  margin-left: 10px;
}

.murr-panel {
  max-width: 620px;
  width: 100%;
  right: 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
</style>
