<template>
  <el-row class="main-page">
    <el-col :span="18">
      <el-row class="murr-tavern">
        <murr-chat class="el-col el-col-24 murr-tavern__chat" />
      </el-row>
    </el-col>
    <el-col class="murr-feed">
      <el-row class="feed-actions">
        <el-col :span="21" class="feed-actions__day-phrase">
          Мурр - это когда ты домой пришёл и снял ботинки, которые жмут...
        </el-col>
        <el-col :span="3" class="feed-actions__add-murr">
          <el-button
            type="text"
            icon="el-icon-plus"
            @click="onOpenMurrCardCreate"
          />
        </el-col>
      </el-row>
      <el-row class="feed-filters">
        <div
          class="feed-filter filter-all"
          :class="{ active: filterAllSelected }"
          @click="setFilter('all')"
        >
          Лента
        </div>
        <div
          class="feed-filter filter-subscriptions"
          :class="{ active: filterSubscriptionsSelected }"
          @click="setFilter('subscriptions')"
        >
          <span class="feed-filter-notify" v-if="hasNewMurr"></span>
          Подписки
        </div>
      </el-row>
      <murr-card-list
        v-if="filterAllSelected"
        :setMasonryCols="masonryCols"
        class="feed-list"
        key="all-feed"
      />
      <murr-card-list
        v-if="filterSubscriptionsSelected"
        :setMasonryCols="masonryCols"
        targetPage="subscriptions"
        class="feed-list"
        key="subscriptions-feed"
      />
    </el-col>
  </el-row>
</template>

<script>
import { mapActions } from "vuex";

import MurrChat from "../components/murr_chat/MurrChat.vue";
import MurrCardList from "../components/murr_card/MurrCardList.vue";

import "./scss/home.scss";

import MurrCardCreate from "../components/murr_card/MurrCardCreate.vue";

export default {
  name: "Home",

  data() {
    return {
      filterAllSelected: true,
      filterSubscriptionsSelected: false,
    };
  },

  components: {
    MurrChat,
    MurrCardList,
  },

  computed: {
    isMurrenAuthorized() {
      return this.$store.getters.currentMurren;
    },

    masonryCols() {
      return {
        default: 1,
      };
    },

    hasNewMurr() {
      return this.$store.getters.hasNewMurr;
    },
  },

  methods: {
    ...mapActions({
      notification: "popUpMessage",
      handlerSignInModal: "changeShowLoginForm_actions",
    }),

    notAuthenticatedNotification() {
      this.notification({
        message: `Для создания мурра требуется авторизация 😳`,
        type: "warning",
      });

      this.handlerSignInModal();
    },

    async onOpenMurrCardCreate() {
      if (!this.isMurrenAuthorized) {
        this.notAuthenticatedNotification();
        return;
      }

      this.$store.commit("modal/open", {
        transition: "el-zoom-in-center",
        options: {
          positionBtnClose: "left",
        },
        component: {
          render: MurrCardCreate,
        },
      });
    },

    setFilter(filter) {
      this.filterAllSelected = false;
      this.filterSubscriptionsSelected = false;

      if (filter === "all") this.filterAllSelected = true;
      if (filter === "subscriptions") this.filterSubscriptionsSelected = true;
    },
  },
};
</script>
