<template>
  <div>
    <transition :name="transition">
      <div v-if="payload" class="modal" id="modalWindow">
        <div class="modal__header">
          <el-button
            class="modal__close"
            :class="`modal__close--${options.positionBtnClose}`"
            @click="onClose"
            icon="el-icon-close"
            type="text"
          />
        </div>

        <div class="modal__content">
          <component
            :is="payload.component.render"
            :context="payload.component.context"
          />
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "Modal",
  computed: {
    ...mapGetters({
      isOpen: "modal/isOpen",
      payload: "modal/payload",
      transition: "modal/transition",
      options: "modal/options",
    }),
  },
  methods: {
    onClose() {
      this.$store.commit("modal/close");
    },
  },
  watch: {
    isOpen(value) {
      if (value) {
        document.body.style.overflowY = "hidden";
      } else {
        document.body.removeAttribute("style");
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../../assets/scss/variables.scss";

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 99;
  background-color: $dark-accent-secondary;
  border: $accent-color-main 1px solid;
  padding: 1.5rem 3rem;
  scroll-behavior: smooth;
  word-break: break-word;

  overflow-y: auto;
  overflow-x: hidden;

  @media (max-width: 360px) {
    padding: 1.5rem 0.5rem;
  }

  &__close {
    position: fixed;
    top: 10px;
    z-index: 100;
    padding: 0;

    font-size: 2.5rem;
    transition: color 250ms;
    color: #ad00ff;
    background-color: rgba($dark-accent-secondary, 0.5);

    &:hover {
      color: $accent-color-main-hover;
      background-color: rgba($dark-accent-secondary, 0.5);
    }

    &--right {
      right: 10px;
    }

    &--left {
      left: 10px;
    }
  }
}
</style>
