<template>
  <g-signin-button
    :params="googleSignInParams"
    @success="onGoogleSignInSuccess"
    @error="onGoogleSignInError"
    class="social-login__oauth-item social-login__oauth-item_google"
  >
  </g-signin-button>
</template>

<script>
import { mapMutations } from "vuex";
import axios from "axios";

import { murrOauthGoogle } from "../../../devAndProdVariables";
export default {
  name: "GoogleOauth",
  data: () => ({
    user: {},
    googleSignInParams: {
      client_id: murrOauthGoogle,
    },
  }),
  methods: {
    ...mapMutations({
      setCurrentMurren: "setCurrentMurren",
    }),
    async onGoogleSignInSuccess(resp) {
      const token = Object.values(resp).find((v) => v?.access_token)
        ?.access_token;
      const { data } = await axios.post("/api/murren/oauth/google/", {
        access_token: token,
      });
      try {
        axios.defaults.headers["Authorization"] = `Bearer ${data.token}`;
        const profileData = await axios.get("/api/murren/profile/");
        let profile = {
          ...profileData.data,
          token: data.token,
        };
        this.$store.commit("setCurrentMurren", profile);
        this.$emit("success");
      } catch (err) {
        // todo remove to 1.0.0
        const dataForPopUpMessage = {
          message: err,
          customClass: "element-ui-message__error",
          type: "error",
        };
        await this.$store.dispatch("popUpMessage", dataForPopUpMessage);
      }
    },
    onGoogleSignInError(error) {
      const dataForPopUpMessage = {
        message: error,
        customClass: "element-ui-message__error",
        type: "error",
      };
      this.$store.dispatch("popUpMessage", dataForPopUpMessage);
    },
  },
};
</script>
