@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.modal__content {
  height: 100%;
}

.murr-battle-scene {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  min-height: 100%;

  &__murren-place {
    grid-column: 2;
    grid-row: 4;
    justify-self: center;
    align-self: end;
    position: relative;
  }
  &__enemy-place {
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    align-self: start;
  }

  &__player-card {
    @include plank;
    padding: 2px;
    position: relative;
    border-radius: 3px;
    &_avatart {
      height: 228px;
      width: 222px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    &_name {
      text-align: center;
      font-size: 24px;
    }
    &_gif {
      width: 100%;
      position: absolute;
      transform: scale(1.7);
    }
    &_info {
      display: flex;
      align-items: center;
      margin-bottom: 3px;
      &-stat-bar {
        width: 100%;
        font-size: 24px;
        text-align: center;
        &_hp {
          color: $danger;
          font-weight: bold;
        }
        &_mp {
          color: $primary;
          font-weight: bold;
        }
      }
      &-tern-bar {
        padding: 5px;
        width: 100%;
        &_supreme {
          .el-progress-bar {
            width: 100%;

            &__outer {
              background-color: $dark;
              border-radius: 3px;
            }

            &__inner {
              background-color: $warning;
              border-radius: 3px;
            }
          }
        }
      }
    }
  }
}
.shakeAnimation1 {
  animation: shake1 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
@keyframes shake1 {
  0% {
    transform: translate(0px, 10px) rotate(0deg);
  }
  10% {
    transform: translate(-10px, -20px) rotate(-1deg);
  }
  20% {
    transform: translate(-30px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(30px, 20px) rotate(0deg);
  }
  40% {
    transform: translate(10px, -10px) rotate(1deg);
  }
  50% {
    transform: translate(-10px, 20px) rotate(-1deg);
  }
  60% {
    transform: translate(-30px, 10px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}



.shakeAnimation {
  animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
